@model IEnumerable<MovieMark.Models.Actor>
@{
    ViewData["Title"] = "Actors";
}
<div class="text-center">
    <h1 class="display-4">Актёры</h1>
</div>
<div>
    Сортировать по:
    <form method="post" action="~/Home/ActorView">
        <select name="field" onchange="this.form.submit();">
            <option> </option>
            <option value="Title">Имени</option>
            <option value="Score">Популярности</option>
        </select>
    </form>
</div>

<table>
    <tr>
        @foreach (var i in Model.ToList())
        {

            <td style="
                width: 200px;
                height: 350px;
                border: 1px solid #f04713;
                border-radius: 10px;
                margin-left: 20px;
                margin-top: 20px;
                position: relative;
                display: inline-block;
                overflow: hidden;
                vertical-align: top;

            ">
                <p>@i.Name<br /></p>
                <a href="#win[@i.Id]" ;><img class="poster" src="@i.PathtoPhoto" width="200" height="250" /></a>
                Рейтинг: <div style="
                    display: inline-block;
                    padding: 2px 6px;
                    font-weight: 700;
                    color: #fff;
                    border-radius: 4px;
                    background: #727272;
                ">
                    @i.Score
                </div>
            </td>
            <a href="#x" class="overlay" id="win[@i.Id]"></a>
            <div class="popup">

                <p style="margin-top: 30px; line-height: 15px; font-size: 11px; text-align: left;">
                    <div class='lighted'>
                        <div class='site-content' style="background-color: #fff">
                            <div class="info-row-about">
                                <h1 style="display:inline-block;">@i.Name</h1>
                                <a style="display:inline-block; margin-left:20%;" asp-area="" asp-controller="Home" asp-action="MakeRate" asp-route-id="@i.Id" asp-route-MovieOrActor="false" asp-route-LikeOrDislike="true"><img src="~/lib/likev2.png" width="50" height="50" /></a>
                                <a style="display:inline-block;" asp-area="" asp-controller="Home" asp-action="MakeRate" asp-route-id="@i.Id" asp-route-MovieOrActor="false" asp-route-LikeOrDislike="false"><img src="~/lib/dislikev2.png" width="50" height="50" /></a>
                                

                                <ul>
                                    <li>Дата рождения: @i.BornDate</li>
                                    <li>
                                        Рейтинг:<div style="display: inline-block;padding: 2px 6px;font-weight: 700;color: #fff;border-radius: 4px; background: #727272;">
                                            @i.Score
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <a class="close" title="Закрыть" href="#close"></a>
                    </div>
            </div>
        }
    </tr>
</table>
